[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = git@github.com:Rail-Connected/tinyusb.git
	branch = rc_dev
[submodule "lib/cyw43-driver"]
	path = lib/cyw43-driver
	url = git@github.com:Rail-Connected/cyw43-driver.git
	branch = rc_dev
[submodule "lib/lwip"]
	path = lib/lwip
	url = git@github.com:Rail-Connected/lwip.git
	branch = rc_dev
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "lib/btstack"]
	path = lib/btstack
	url = https://github.com/bluekitchen/btstack.git
